body {
  background-color: #fff7f1;
  font-family: 'Segoe UI', sans-serif;
  color: #444;
  padding: 20px;
}

h2, h3 {
  color: #d95d7f;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  background-color: #fff0f6;
}

th, td {
  border: 1px solid #ffa5c3;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ffd6e0;
}

input[type="number"] {
  width: 60px;
  padding: 4px;
}

button {
  background-color: #ff7aa2;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f14e7f;
}

#keranjang {
  background-color: #ffe6f0;
  padding: 15px;
  border-radius: 10px;
}

